/* @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@900&family=Roboto:wght@300;400&display=swap');

*{
    font-family: 'Poppins', sans-serif;
} */
.item img{
    height: 360px;
    background-size: cover;
}